In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer

In [6]:
# Read csv file into a pandas dataframe and check first 10 lines
df = pd.read_csv("miss_reg.csv", header = 0)
df.head(50)

    Age  Income
0    19    15.0
1    21    15.0
2    20    16.0
3    23    16.0
4    31    17.0
5    22    17.0
6    35    18.0
7    23    18.0
8    64    19.0
9    30    19.0
10   67    19.0
11   35    19.0
12   58    20.0
13   24    20.0
14   37    20.0
15   22     NaN
16   35    21.0
17   23    18.0
18   52    23.0
19   19    15.0
20   35    24.0
21   25    24.0
22   46     NaN
23   31    25.0
24   54    28.0
25   29    28.0
26   45    28.0
27   35    28.0
28   19    15.0
29   23    29.0
30   60    30.0
31   21    30.0
32   53    33.0
33   18    33.0
34   49    33.0
35   21     NaN
36   42    34.0
37   30    34.0
38   36    37.0
39   20    37.0
40   19    15.0
41   24    38.0
42   48    39.0
43   31    39.0
44   49    39.0
45   24    39.0
46   50    40.0
47   27    40.0
48   29    40.0

In [7]:
# Identify the feature with missing values and the predictors
target_column = 'Income'
predictor_columns = ['Age']

In [8]:
# Split data into complete and missing parts
df_complete = df.dropna()
df_missing = df[df[target_column].isnull()]

In [9]:
# Prepare data for regression
X_train = df_complete[predictor_columns].values
y_train = df_complete[target_column].values
X_test = df_missing[predictor_columns].values

In [10]:
# Fit the regression model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [11]:
# Predict missing values
imputed_values = model.predict(X_test)

In [12]:
# Fill in missing values
df.loc[df[target_column].isnull(), target_column] = imputed_values

In [13]:
df.head(50)

    Age     Income
0    19  15.000000
1    21  15.000000
2    20  16.000000
3    23  16.000000
4    31  17.000000
5    22  17.000000
6    35  18.000000
7    23  18.000000
8    64  19.000000
9    30  19.000000
10   67  19.000000
11   35  19.000000
12   58  20.000000
13   24  20.000000
14   37  20.000000
15   22  24.707152
16   35  21.000000
17   23  18.000000
18   52  23.000000
19   19  15.000000
20   35  24.000000
21   25  24.000000
22   46  27.640674
23   31  25.000000
24   54  28.000000
25   29  28.000000
26   45  28.000000
27   35  28.000000
28   19  15.000000
29   23  29.000000
30   60  30.000000
31   21  30.000000
32   53  33.000000
33   18  33.000000
34   49  33.000000
35   21  24.584922
36   42  34.000000
37   30  34.000000
38   36  37.000000
39   20  37.000000
40   19  15.000000
41   24  38.000000
42   48  39.000000
43   31  39.000000
44   49  39.000000
45   24  39.000000
46   50  40.000000
47   27  40.000000
48   29  40.000000